In [114]:
import pandas as pd
import csv

In [121]:
df=pd.read_csv('one_edited.csv', sep=',', names=['Name', 'Price', 'Barcode', 'Qnt'])
file = df.values.tolist()
file

[['Tresures Shiraz 750ML', '$17.99', 123, 1],
 ['Salvare Red Blend', '$8.99', 234, 2],
 ['Tresures Shiraz 750ML', '$17.99', 123, 5],
 ['Salvare Red Blend', '$8.99', 234, 2],
 ['PENLEY ESTATE HYLAND SHIRAZ 2019', '$26.50', 345, 8],
 ['BABICH MARLBOROUGH ROSE 2020 (6PK)', '$16.99', 456, 5]]

In [122]:
df1 = df[df.duplicated(subset=['Barcode'], keep=False)]
duplicates = df1.values.tolist()

In [125]:
def totler(duplicates):
    def appender(row):
        temp = [row[0], row[1], row[2], int(row[3])]
        new_file.append(temp)
    def additor(row, sublist):
        if row[0] in sublist:
            new_file[i][3] += int(row[3])

    new_file = [[]]
    for row in file:
        for i, sublist in enumerate(new_file):
            if row[0] in sublist:
                additor(row, sublist)
                break
        appender(row)
    return new_file
duplicates = totler(duplicates)
duplicates = duplicates[1:]
dup_df = pd.DataFrame(duplicates, columns=['Name', 'Price', 'Barcode', 'Qnt'])
dup_df = dup_df.drop_duplicates(subset=['Barcode'])
#dup_list = dup_df.values.tolist()
dup_df

                                 Name   Price  Barcode  Qnt
0               Tresures Shiraz 750ML  $17.99      123    6
1                   Salvare Red Blend   $8.99      234    4
4    PENLEY ESTATE HYLAND SHIRAZ 2019  $26.50      345    8
5  BABICH MARLBOROUGH ROSE 2020 (6PK)  $16.99      456    5

In [113]:
dup_df.to_csv('NO_DUPLICATES.csv', index=False)